.stu-img{
    width: 250px;
    border-radius: 10px;
}
.review{
    margin-top: 35px;
}
.review h1{
    color: #4d4d4d;
    font-size: 32px;
    font-weight: 700;
    text-transform: unset;
    margin-bottom: 20px;
}
.review p{
    color: #526375;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
