.image{
    height: 200px;
    width: 200px;


    
}
/* header */

.service-header{
    margin-top: 80px;
    text-align: center;
}
.service-header h1{
    font-size: 40px;
    color: #07324f;
    line-height: 46px;
    margin-bottom: 20px;
    font-weight: 700;
}
.service-header p{
    color: #526375;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 0px;
}
h5{
    color: rgb(68, 143, 187);
    font-weight: 700;
    font-size: 20px;
}

.cards{
    background-color: rgb(245, 245, 245);
    margin-top: 20px;
   
    
}
/* service part */

.service-container .service-title{
    margin-top: 70px;
}

.parent{
    width: 100%;
}
.details{
    margin-bottom: 5px;
    display: flex;
    color: black;
    font-weight: 600;
    font-size: 17px;
    justify-content: space-around;
}
.income{
    font-weight: 700;
    color:rgb(0, 152, 240) ;
}
/* button */
button{
    /* background-color: #FE6887; */
    background-color: none;
    color: #FE6887;
    border-radius: 20px;
    border: 1px solid #FE6887;;
    /* color: black; */
    
padding: 8px 16px;
font-weight: 600;
margin-top: 5px;
}