.notfound{
    background-color: #373D40;
    min-height: 100vh;
    border: 40px solid #EC476A;
    border-bottom: 0;
}

.error-title{
    color: white;
    font-size: 100px;
    line-height: 90px;
    font-weight: 700;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 20px;
}
.error-details{
    font-size: 20px;
  
}
.notfound a {

    text-decoration: none;
font-size: 22px;
color: rgba(236, 71, 106, 0.6);
}
/* footer */

