.person{
    width: 300px;
}

.title{
    color: rgb(62, 67, 113);
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;

}
.title-details{
    color: rgb(62, 67, 113);
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 22px;
  
    line-height: 28px;
    font-weight: 300;
}
.view-service{
    background-color: rgb(66, 73, 139);
    color: rgb(255, 255, 253);
    padding: 13px 30px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
}
/* block cart */
.bl-1{
    background-color: rgb(255, 113, 154);
}
.bl-2{
    background-color: rgb(67, 113, 163);
}
.bl-1 h2{
    color: white;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-top: 4px;
}
.bl-1 p{
    color: white;
    font-size: 15px;
    line-height: 22px;
    
}
.bl-2 h2{
    color: white;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-top: 4px;
}
.bl-2 p{
    color: white;
    font-size: 15px;
    line-height: 22px;

}
/* card-part */
.card-img{
 
    height: 200px;
}
.cart{
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    margin-top: 20px;
    
}
.text-area h5{
    color: rgb(66, 73, 139);
font-size: 24px;
}
.text-area{
    font-weight: 700;
    color: white;
    background-color: rgb(245, 245, 245);
    padding: 10px 0;

}
.text-area p{
    color: black;
    font-weight: 600;
    font-size: 17px;
}

.home-container{
    margin-top: 85px;
}